*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100vh;
  }
h2{
    color: #000000;    
}
p{
    color: #030303;
}
input{
    width: 250px;
    height: 50px;
    margin: 10px;
    padding: 0 0 0 10px;
    border-radius: 8px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}
button{
    width: 100px;
    height: 50px;
    margin: 10px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    background-color: rgb(37, 37, 233);
    color: #fff;
    cursor: pointer;
}
button:hover{
    background-color: rgba(0,0,0,0);
    border: 1px solid rgb(246, 246, 42);
    color: rgb(246, 246, 42);
}
.wraper{
    width: 100%;
}
.conteiner{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.box{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: auto;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.loadOption{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 395px;
    z-index: 3;
}
.absolut{
    padding:10px;
    color: #fff;
    width: 240px;
    background-color: rgba(81, 80, 80, 0.7);
    border: 0.5px solid black;
    cursor: pointer;
    z-index: 4;
}

.absolut:hover{
    background-color: rgba(37, 37, 37, 0.7);
}